h3,
p {
  padding: 3px;
  margin: 0px;
}

.nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed; /* Make it stick/fixed */
  top: 0px; /* Stay on top */
  width: 100%;
  text-align: center;
}

.nav li {
  float: left;
}

.nav li a {
  display: inline-block;
  color: rgb(16, 16, 16);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #bfbfbf;
}

.navbar {
  color: rgb(16, 16, 16);
  width: 100%;
  text-align: center;
  text-decoration: none;
  position: fixed; /* Make it stick/fixed */
  top: 0px; /* Stay on top */
}

.navbar ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
}

.navbar li {
  text-decoration: none;
  display: inline-block;
  padding: 14px 16px;
}

.navbar a {
  display: block;
  padding: 10px;
}

/* Define your color variables here */
:root {
  --primary-color: #393939;
  /* gray */
  --secondary-color: #f8f9fa;
  /* light gray */
  --accent-color: #17a2b8;
  /* teal */
}

html,
body,
select,
input,
textarea,
button {
  font-size: 13px;
  line-height: 19px;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin-bottom: 19px;
}

p {
  max-width: 800px;
}

p:last-child {
  margin-bottom: 0px;
}

.txt p {
  text-indent: 28.5px;
}

.txt p:first-child {
  text-indent: 0;
}

/* Use your color variables for different elements here */
body {
  background-color: white;
  /* change this to white */
  color: var(--primary-color);
  /* change this to gray */
  font-family: "DCA", Helvetica, Arial, Verdana, sans-serif;
}

/* Create a fixed column on the left */
.fixed-column {
  position: fixed;
  left: 50px;
  top: 150px;
  bottom: 0;
  width: 300px;
  /*margin-left: 50px;*/
  /* adjust this according to your preference */
  overflow-y: auto;
}

/* Create a scrollable content area on the right */
.scrollable-content {
  margin-left: 400px;
  margin-top: 125px;

  /* same as fixed column width */
  /*overflow-x: scroll;*/
}

@media screen and (max-width: 800px) {
  .fixed-column {
    position: static;
    width: 100%;
  }

  .scrollable-content {
    margin-left: 0;
    width: 100%;
  }
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 15px;
  width: 90%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 13px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
}

.collapsible:after {
  content: "\002B";
  color: #444;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active.collapsible:after {
  content: "\2212";
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
