Options +Indexes
AddDescription "this is the first test post" ".html"
AddDescription "this is an example" ".html"
AddDescription "Your Money or Your Life" "your-money-or-your-life.html" #Thu, 02 Sep 2021 18:35:59 -0700
AddDescription "Becoming" "becoming.html" #Thu, 02 Sep 2021 23:04:29 -0700
AddDescription "Whole" "whole.html" #Thu, 02 Sep 2021 23:38:11 -0700
