Options +Indexes
AddDescription "this is the first test post" ".html"
AddDescription "this is an example" ".html"
AddDescription "Your Money or Your Life" "your-money-or-your-life.html" #Thu, 02 Sep 2021 18:35:59 -0700
AddDescription "Becoming" "becoming.html" #Thu, 02 Sep 2021 23:04:29 -0700
AddDescription "Whole" "whole.html" #Thu, 02 Sep 2021 23:38:11 -0700
AddDescription "Spiritual Leadership" "spiritual-leadership.html" #Fri, 03 Sep 2021 00:41:11 -0700
AddDescription "The Ruthless Elimination of Hurry" "the-ruthless-elimination-of-hurry.html" #Fri, 03 Sep 2021 00:42:12 -0700
AddDescription "Facetfulness" "facetfulness.html"
AddDescription "" "factfulness.html" #Fri, 03 Sep 2021 00:46:37 -0700
AddDescription "The Sacred Search" "the-sacred-search.html" #Fri, 03 Sep 2021 00:48:40 -0700
AddDescription "Americanah" "americanah.html" #Fri, 03 Sep 2021 00:50:02 -0700
AddDescription "Utopia for Realists" "utopia-for-realists.html" #Fri, 03 Sep 2021 00:50:59 -0700
AddDescription "The Road Back to You" "the-road-back-to-you.html" #Fri, 03 Sep 2021 01:06:33 -0700
AddDescription "You and Me Forever" "you-and-me-forever.html" #Fri, 03 Sep 2021 01:15:22 -0700
AddDescription "Talking to Strangers - Malcolm Gladwell" "talking-to-strangers-malcolm-gladwell.html" #Fri, 03 Sep 2021 01:19:26 -0700
AddDescription "Men Explain Things To Me" "men-explain-things-to-me.html" #Fri, 03 Sep 2021 08:23:33 -0700
AddDescription "The Smart Enough City" "the-smart-enough-city.html" #Fri, 03 Sep 2021 08:24:29 -0700
AddDescription "The Inconvenient Indian" "the-inconvenient-indian.html" #Fri, 03 Sep 2021 08:25:50 -0700
AddDescription "When Breath Becomes Air" "when-breath-becomes-air.html" #Fri, 03 Sep 2021 08:26:54 -0700
AddDescription "The Feminine Mystique" "the-feminine-mystique.html" #Fri, 03 Sep 2021 08:28:12 -0700
AddDescription "Why We're Polarized - Ezra Klein" "why-were-polarized-ezra-klein.html" #Tue, 01 Mar 2022 22:46:30 -0800
AddDescription "Uncanny Valley - Anna Weiner" "uncanny-valley-anna-weiner.html" #Fri, 18 Mar 2022 17:57:46 -0700
AddDescription "NonViolent Communication" "nonviolent-communication.html" #Sat, 13 Aug 2022 11:10:55 -0700
AddDescription "Essentialism: The Disciplined Pursuit of Less" "essentialism-the-disciplined-pursuit-of-less.html" #Sat, 13 Aug 2022 11:20:59 -0700
AddDescription "The Philippines: A Century Hence" "the-philippines-a-century-hence.html" #Thu, 09 Mar 2023 16:28:56 -0800
AddDescription "Utopia" "utopia.html" #Thu, 09 Mar 2023 16:30:49 -0800
AddDescription "Walkable City - Jeff Speck" "walkable-city-jeff-speck.html" #Thu, 09 Mar 2023 16:32:22 -0800
AddDescription "Digital Minimalism" "digital-minimalism.html" #Sun, 12 Jan 2025 22:30:55 -0800
AddDescription "Progress and Poverty" "progress-and-poverty.html" #Sun, 12 Jan 2025 22:48:09 -0800
AddDescription "All Quiet on the Western Front" "all-quiet-on-the-western-front.html" #Sun, 12 Jan 2025 22:48:14 -0800
