Options +Indexes
AddDescription "this is the first test post" ".html"
AddDescription "this is an example" ".html"
AddDescription "Your Money or Your Life" "your-money-or-your-life.html" #Thu, 02 Sep 2021 18:35:59 -0700
AddDescription "Becoming" "becoming.html" #Thu, 02 Sep 2021 23:04:29 -0700
AddDescription "Whole" "whole.html" #Thu, 02 Sep 2021 23:38:11 -0700
AddDescription "Spiritual Leadership" "spiritual-leadership.html" #Fri, 03 Sep 2021 00:41:11 -0700
AddDescription "The Ruthless Elimination of Hurry" "the-ruthless-elimination-of-hurry.html" #Fri, 03 Sep 2021 00:42:12 -0700
AddDescription "Facetfulness" "facetfulness.html"
AddDescription "" "factfulness.html" #Fri, 03 Sep 2021 00:46:37 -0700
AddDescription "The Sacred Search" "the-sacred-search.html" #Fri, 03 Sep 2021 00:48:40 -0700
AddDescription "Americanah" "americanah.html" #Fri, 03 Sep 2021 00:50:02 -0700
AddDescription "Utopia for Realists" "utopia-for-realists.html" #Fri, 03 Sep 2021 00:50:59 -0700
